/* COMMON STYLE RULES */

/* COMMON */
/* COMMON */

body {
  font-family: "Montserrat", sans-serif;
}
button {
  border: none;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

/* HEADER */
/* HEADER */

header div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-icon {
  color: #5c48d3;
}

/* COUNTER */
/* COUNTER */

main div:nth-child(2) {
  display: flex;
}
.counter-div {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
}
.counter-div > div:first-child {
  display: flex;
}
.add-button,
.remove-button,
.reset-button,
.num-display-div {
  background-color: #5c48d3;
  color: white;
  border-radius: 5px;
}
.op-button-div button {
  background-color: white;
}

/* FOOTER */
/* FOOTER */

footer div {
  display: flex;
  align-items: center;
}
footer a {
  display: flex;
  align-items: center;
}
.fa-github {
  color: black;
}
.fa-linkedin {
  color: #0b65c2;
}
